<div class="col-xs-6"  >
	
	<div class="wordContainer" id="letterSpace"  tabindex="1">
	 	<div class="wordItem wordLetterErr"  >
	 		<h3>T</h3>
	 	</div>
	 	<div class="wordItem wordLetterErr"  >
	 		<h3>L</h3>
	 	</div>
	 	<div class="wordItem wordLetterErr"  >
	 		<h3>P</h3>
	 	</div>
	 	<div class="wordItem wordLetterErr"  >
	 		<h3>Q</h3>
	 	</div>
	 	<div class="wordItem wordLetterErr"  >
	 		<h3>M</h3>
	 	</div>
	 	<div class="wordItem wordLetterErr"  >
	 		<h3>R</h3>
	 	</div>
	</div>
	<div>
		
  		<div class="alert alert-danger" role="alert">
			<strong>Lo siento</strong>
			No has adivinado la palabra
  		</div>
  		<button type="button"  class="btn">Reiniciar</button>
	</div>
</div>
<div class="col-xs-6 attempt0" id="drawSpace">
</div>