<div class="col-xs-4 col-xs-offset-2 center">
	<label for="categories">Categorias</label>
</div>
<div class="col-xs-4 center">
	<div class="input-group">
	  <select class="form-control" name="categories" id="categories">
			<option >Selecciones</option>
			<option value="1">Categoria 1</option>
			<option value="2">Categoria 1</option>
	  </select>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-refresh"></i></button>
      </span>
    </div>

</div>
